
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-3">
        <h4 style="text-align: center;">Signup Page</h4>
        <form [formGroup]="signupForm">
           First Name: <input type="text" formControlName="fname" class="form-control">
           Last Name: <input type="text" formControlName="lname" class="form-control">
           Email: <input type="text" formControlName="email" class="form-control">
           Phone No: <input type="text" formControlName="phoneno" class="form-control">
           <br>
           <div class="user-row">
            <input type="radio" id="role-admin" name="user-role" value="admin" formControlName="role">
            <label for="role-admin">Admin</label>
            
            <input type="radio" id="role-user" name="user-role" value="user" formControlName="role">
            <label for="role-user">User</label>
          </div>
          <br>
          Password: <input type="password" formControlName="password" class="form-control">
          <br>
          <input type="button" value="Signup" class="btn btn-info" (click)="fnSignUp()">
          <br>
          <p>Already have an account? <a routerLink="/login">Sign In</a></p>
        </form>
    </div>
    <div class="col-sm-5"></div>
</div>
