
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="box">
            <div class="left-buttons">
                <input type="button" value="Home" class="left-button" routerLink="/admind/home" routerLinkActive="active">&nbsp;&nbsp;
                <input type="button" value="Users" class="left-button" routerLink="/admind/users" routerLinkActive="active">&nbsp;&nbsp;
              <input type="button" value="Projects" class="left-button" routerLink="/admind/projects" routerLinkActive="active">
            </div>
            <input type="button" value="Sign out" class="right-button" routerLink="/logout">
          </div>
          <router-outlet></router-outlet>
          <!-- <app-user-table *ngIf="showUsersTable"></app-user-table> -->
          <!-- <app-admin-home *ngIf="showHomePage"></app-admin-home> -->
          <!-- <app-admin-project *ngIf="showProjectPage"></app-admin-project> -->
    </div>
    <div class="col-md-2"></div>

</div>
